ElectionVault/xml-resources/jaxb/ConsumerBinding/newXmlSchema.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://xml.consumer"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           xmlns:ora="http://xml.consumer">
  <xs:element name="consumer" type="ora:Hello"/>
  <xs:complexType name="Hello">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
 </xs:schema>
